
<h1 class="ui center aligned large header"> Witamy w Pogadajmy - aplikacji do pogaduszek</h1>
<h4 class="ui center aligned medium icon header ">
    <i class="circular blue power off icon"></i>
</h4>
<h1 class="ui center aligned medium header">
    Zaloguj się, aby kontynuować
</h1>


<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Użytkownik</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Użytkownik">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Hasło</label>
          <div class="ui left icon input">
            <input type="password" placeholder="Wpisz hasło">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui blue submit button">Hasło</div>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui big blue button">
        <i class="signup icon"></i>
        Zapisz się
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Lub
  </div>
</div>