
<div class="ui small inverted menu">
  <div class="ui container">
    <a class="item">
      Czat
    </a>
    <a class="item">
      Wiadomości
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Konto <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">Zaloguj</a>
          <a class="item">Wyloguj</a>
          <a class="item">Zapisz się!</a>
        </div>
      </div>
      <div class="item">
          <div class="ui primary button">Zapisz się</div>
      </div>
    </div>
  </div>
</div>